<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<title>首页</title>
	</head>

	<body style="margin-bottom: 100px;">
		<div id="newDay">
			<!--top  start-->
			<div class="newDay_top" id="NEWDAY">
				<div class="newDay_top_con newDaySame">
					<div class="info_user fl">
						<p>您好，请
							<a href="javascript:;">登录</a>|
							<a href="javascript:;">注册</a>
						</p>
					</div>
					<div class="newShare fr">
						<div class="share_content">
							<a href="javascript:;" class="fl"><img src="img/wechat.png" /></a>
							<div class="share_details">
								<ul class="weixin">
									<li class="fl">
										<img src="img/erweima.jpg" />
										<p>新天天公众号</p>
										<p>123newday</p>
									</li>
									<li class="fr">
										<img src="img/erweima.jpg" />
										<p>新天天订阅号</p>
										<p>123newday</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="share_content">
							<a href="javascript:;" class="fl"><img src="img/qq.png" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=800110999&o=新天天&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" border="0" SRC=http://wpa.qq.com/pa?p=1:800110999:1 alt="点击这里给我发消息" /></a>
							<!--<img  style="CURSOR: pointer" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=800110999&o=新天天&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:800110999:1 alt="点击这里给我发消息">-->
						</div>
						<div class="share_content">
							<a href="javascript:;" class="fl"><img src="img/share.jpg" /></a>
							<div class="share_details">
								<!-- Baidu Button BEGIN -->
								<div class="bdsharebuttonbox">
									<!--									<a href="#" class="bds_more" data-cmd="more">分享到：</a>
-->
									<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
									<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
									<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
									<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
									<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a>
								</div>

								<!-- Baidu Button END -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--top  end-->
			<!--head start-->
			<div class="newDay_head newDaySame">
				<div class="head_lt fl">
					<img src="img/logo.gif" />
				</div>
				<div class="head_cn fl">
					<div class="fl termini"><i></i><span>北京</span>
						<a href="javascript:;" class="toggle_switch">[切换]</a>
					</div>
					<div class="greion">
						<h5>可选城市</h5>
						<ul>
							<li>
								<h6>华北</h6>
								<dl>
									<dd>
										<a href="javascript:;">北京</a>
									</dd>
									<dd>
										<a href="javascript:;">石家庄</a>
									</dd>
									<dd>
										<a href="javascript:;">太原</a>
									</dd>
									<dd>
										<a href="javascript:;">包头</a>
									</dd>
								</dl>
							</li>
							<li>
								<h6>华北</h6>
								<dl>
									<dd>
										<a href="javascript:;">北京</a>
									</dd>
									<dd>
										<a href="javascript:;">天津</a>
									</dd>
									<dd>
										<a href="javascript:;">太远</a>
									</dd>
									<dd>
										<a href="javascript:;">包头</a>
									</dd>
								</dl>
							</li>
							<li>
								<h6>华北</h6>
								<dl>
									<dd>
										<a href="javascript:;">北京</a>
									</dd>
									<dd>
										<a href="javascript:;">石家庄</a>
									</dd>
									<dd>
										<a href="javascript:;">太远</a>
									</dd>
									<dd>
										<a href="javascript:;">包头</a>
									</dd>
								</dl>
							</li>
							<li>
								<h6>华北</h6>
								<dl>
									<dd>
										<a href="javascript:;">北京</a>
									</dd>
									<dd>
										<a href="javascript:;">石家庄</a>
									</dd>
									<dd>
										<a href="javascript:;">太远</a>
									</dd>
									<dd>
										<a href="javascript:;">包头</a>
									</dd>
								</dl>
							</li>
							<li>
								<h6>华北</h6>
								<dl>
									<dd>
										<a href="javascript:;">北京</a>
									</dd>
									<dd>
										<a href="javascript:;">石家庄</a>
									</dd>
									<dd>
										<a href="javascript:;">太远</a>
									</dd>
									<dd>
										<a href="javascript:;">包头</a>
									</dd>
								</dl>
							</li>
							<li>
								<h6>华北</h6>
								<dl>
									<dd>
										<a href="javascript:;">北京</a>
									</dd>
									<dd>
										<a href="javascript:;">石家庄</a>
									</dd>
									<dd>
										<a href="javascript:;">太远</a>
									</dd>
									<dd>
										<a href="javascript:;">包头</a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="hb_searchInput">
						<div class="down_mnue fl">
							<p><span>商品</span><i></i></p>
							<ul>
								<li>商品</li>
								<li>供应商</li>
							</ul>
						</div>
						<input type="text" name="srk" placeholder=" 请输入商品名称、商品编号、线路名称" class="fl" />
						<a href="javascrirpt:;" class="fl"><img src="img/search.jpg" /></a>
					</div>
				</div>
				<div class="head_rg fr">
					<p><img src="img/tell.jpg" /></p>
					<div class="phone">
						<i>全国统一客服热线（免费长途）</i>
						<p>010-53526677-0</p>
					</div>
				</div>
			</div>
			<!--head end-->
			<!--nav+banner start-->
			<div class="newDay_nav">
				<div class="all_nav">
					<ul class="navs newDaySame">
						<li>
							<a href="javascript:;">首页</a>
						
						<li>
							<a href="javascript:;">周边游</a>
						
						<li>
							<a href="javascript:;">国内游</a>
						<li>
							<a href="javascript:;">港澳台</a>
						<li>
							<a href="javascript:;">出境游</a>
						<li>
							<a href="javascript:;">甄选甩尾</a>
						<li>
							<a href="javascript:;">特惠秒杀</a>
						<li>
							<a href="javascript:;">天天推新</a>
					</ul>
				</div>
				<div id="slideBox" class="slideBox">
					<div class="hd">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<div class="bd">
						<ul>
							<li>
								<a href="javascript:;"><img src="img/banner.jpg" /></a>
							</li>
							<li>
								<a href="javascript:;"><img src="img/banner1.jpg" /></a>
							</li>
							<li>
								<a href="javascript:;"><img src="img/banner2.jpg" /></a>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<!--线路详情-->
			<div class="mainDetails">
				<!--精选热卖-->
				<div id="theme_1" class="selectedss travelType">
					<div class="lineSe">
						<h3>精选热卖</h3>
					</div>
					<ul class="maincell">
						<li v-for="item in 10">
							<a href="javascript:;">
								<div class="priceAndPic">
									<img src="img/details_pic.png" />
									<div class="priceText">
										<p class="fl">北京出发</p>
										<p class="fr">￥<span>12345</span>起</p>
									</div>
								</div>
								<div class="detailsText">【缤纷夏季特卖】自游自在慢调大阪东京半自由行5晚6日</div>
							</a>
						</li>
					</ul>
					<a href="javascript:;" class="prev"></a>
					<a href="javascript:;" class="next"></a>
				</div>
				<!--出境游-->
				<div id="theme_2" class="travelType">
					<div class="lineSe">
						<h3>出境游</h3>
						<ul>
							<li>
								<a href="javascript:;">热门</a>
							</li>
							<li>
								<a href="javascript:;">中东非</a>
							</li>
							<li>
								<a href="javascript:;">欧美澳</a>
							</li>
							<li>
								<a href="javascript:;">东南亚</a>
							</li>
							<li>
								<a href="javascript:;">日韩</a>
							</li>
						</ul>
						<a href="javascript:;" class="fr">更多热门&nbsp;&gt;</a>
					</div>
					<div class="lineCon">
						<div class="picImport fl">
							<img src="img/picImport.jpg" />
						</div>
						<ul class="fl">
							<li v-for="item in 5">
								<div class="picCJ fl">
									<a href="javascript:;">
										<div class="priceAndPic">
											<img src="img/details_pic.png" />
											<div class="priceText">
												<p class="fl">北京出发</p>
												<p class="fr">￥<span>12345</span>起</p>
											</div>
										</div>
										<div class="detailsText">【缤纷夏季特卖】自游自在慢调大阪东京半自由行5晚6日</div>
									</a>
								</div>

								<dl v-for="item in 2">
									<dd v-for="item in 2">
										<div class="picSame">
											<a href="javascript:;">
												<div class="priceAndPic">
													<img src="img/details_pic.png" />
													<div class="priceText">
														<p class="fl">北京出发</p>
														<p class="fr">￥<span>12345</span>起</p>
													</div>
												</div>
												<div class="detailsText">【缤纷夏季特卖】自游自在慢调大阪东京半自由行5晚6日</div>
											</a>

										</div>
									</dd>

								</dl>

							</li>

						</ul>
					</div>
				</div>
				<!--港澳台-->
				<div id="theme_3" class="travelType">
					<div class="lineSe">
						<h3>港澳台</h3>
						<ul>
							<li>
								<a href="javascript:;">热门</a>
							</li>
							<li>
								<a href="javascript:;">香港</a>
							</li>
							<li>
								<a href="javascript:;">澳门</a>
							</li>
							<li>
								<a href="javascript:;">台湾</a>
							</li>
						</ul>
						<a href="javascript:;" class="fr">更多热门&nbsp;&gt;</a>
					</div>
					<div class="lineCon">
						<div class="picImport fl">
							<img src="img/picImport.jpg" />
						</div>
						<ul class="fl">
							<li v-for="item in 4">
								<dl v-for="item in 4">
									<dd v-for="item in 2">
										<div class="picSame">
											<a href="javascript:;">
												<div class="priceAndPic">
													<img src="img/details_pic.png" />
													<div class="priceText">
														<p class="fl">北京出发</p>
														<p class="fr">￥<span>12345</span>起</p>
													</div>
												</div>
												<div class="detailsText">【缤纷夏季特卖】自游自在慢调大阪东京半自由行5晚6日</div>
											</a>

										</div>
									</dd>

								</dl>
							</li>
						</ul>
					</div>
				</div>
				<!--国内游-->
				<div id="theme_4" class="travelType">
					<div class="lineSe">
						<h3>国内游</h3>
						<ul>
							<li>
								<a href="javascript:;">热门</a>
							</li>
							<li>
								<a href="javascript:;">三亚</a>
							</li>
							<li>
								<a href="javascript:;">昆明</a>
							</li>
							<li>
								<a href="javascript:;">上海</a>
							</li>
							<li>
								<a href="javascript:;">苏州</a>
							</li>
						</ul>
						<a href="javascript:;" class="fr">更多热门&nbsp;&gt;</a>
					</div>
					<div class="lineCon">
						<div class="picImport fl">
							<img src="img/picImport.jpg" />
						</div>
						<ul class="fl">
							<li v-for="item in 5">
								<dl v-for="item in 4">
									<dd v-for="item in 2">
										<div class="picSame">
											<a href="javascript:;">
												<div class="priceAndPic">
													<img src="img/details_pic.png" />
													<div class="priceText">
														<p class="fl">北京出发</p>
														<p class="fr">￥<span>12345</span>起</p>
													</div>
												</div>
												<div class="detailsText">【缤纷夏季特卖】自游自在慢调大阪东京半自由行5晚6日</div>
											</a>

										</div>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<!--周边游-->
				<div id="theme_5" class="travelType">
					<div class="lineSe">
						<h3>周边游</h3>
						<ul>
							<li>
								<a href="javascript:;">热门</a>
							</li>
							<li>
								<a href="javascript:;">天津</a>
							</li>
							<li>
								<a href="javascript:;">唐山</a>
							</li>
							<li>
								<a href="javascript:;">承德</a>
							</li>
							<li>
								<a href="javascript:;">保定</a>
							</li>
						</ul>
						<a href="javascript:;" class="fr">更多热门&nbsp;&gt;</a>
					</div>
					<div class="lineCon">
						<div class="picImport fl">
							<img src="img/picImport.jpg" />
						</div>
						<ul class="fl">
							<li v-for="item in 5">
								<dl v-for="item in 4">
									<dd v-for="item in 2">
										<div class="picSame">
											<a href="javascript:;">
												<div class="priceAndPic">
													<img src="img/details_pic.png" />
													<div class="priceText">
														<p class="fl">北京出发</p>
														<p class="fr">￥<span>12345</span>起</p>
													</div>
												</div>
												<div class="detailsText">【缤纷夏季特卖】自游自在慢调大阪东京半自由行5晚6日</div>
											</a>

										</div>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<!--入驻商家-->
				<div id="theme_6" class="business travelType">
					<div class="lineSe">
						<h3>入驻商家</h3>
					</div>
					<ul class="sjcell">
						<li>
							<dl>
								<dd v-for="item in 16">
									<a href="javascript:;">
										<img src="img/imgs/ruzhu.png" />
										<p>公司名称</p>
									</a>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dd v-for="item in 10">
									<a href="javascript:;">
										<img src="img/imgs/ruzhu.png" />
										<p>公司名称</p>
									</a>
								</dd>
							</dl>
						</li>
					</ul>
					<ul class="titcell">
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<!--尊贵  超值  品质-->
			<div class="footerUp">
				<div class="present">
					<div class="zg_hb fl">
						<img src="img/zg_hb.png" />
						<span>尊贵</span>
					</div>
					<div class="cz_hb">
						<img src="img/cz_hb.png" />
						<span>超值</span>
					</div>
					<div class="pz_hb fr">
						<img src="img/pz_hb.png" />
						<span>品质</span>
					</div>
				</div>
			</div>
			<!--底部-->
			<div class="footerHbHome">
				<div class="footer_t newDaySame">
					<div class="footer_t_l fl">
						<div class="ftText">
							<img src="img/tellccc.jpg" class="fl" />
							<div class="tellPhoneT fl">
								<i>全国统一客服热线(免长途费)</i>
								<h3>010-53526677-0</h3>
							</div>
						</div>
						<ul class="OrCode">
							<li>
								<img src="img/erweima.jpg" />
								<p>订阅号</p>
							</li>
							<li>
								<img src="img/erweima.jpg" />
								<p>服务号</p>
							</li>
						</ul>
					</div>
					<ul class="footer_t_r fr">
						<li>
							<p>新手帮助</p>
							<dl>
								<dd>
									<a href="javascript:;">预订流程</a>
								</dd>
								<dd>
									<a href="javascript:;">付款流程</a>
								</dd>
								<dd>
									<a href="javascript:;">常见问题</a>
								</dd>
							</dl>
						</li>
						<li>
							<p>旅游专家</p>
							<dl>
								<dd>
									<a href="javascript:;">旅游合同范本</a>
								</dd>
							</dl>
						</li>
						<li>
							<p>支付中心</p>
							<dl>
								<dd>
									<a href="javascript:;">订单支付方式</a>
								</dd>
								<dd>
									<a href="javascript:;">退单模式</a>
								</dd>
							</dl>
						</li>
						<li>
							<p>其他事项</p>
							<dl>
								<dd>
									<a href="javascript:;">其他方式</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="b_box">
					<!--<div class="ftcont"></div>-->
					<ul class="images">
						<li>
							<a href="https://www.99bill.com/" target="_blank"><img src="img/image001.png"></a>
						</li>
						<li>
							<a href="http://www.12377.cn/" target="_blank"><img src="img/image002.png"></a>
						</li>
						<li>
							<a href="http://www.bj.cyberpolice.cn/index.do" target="_blank"><img src="img/image003.png"></a>
						</li>
						<li>
							<a href="http://www.isc.org.cn/" target="_blank"><img src="img/image004.png"></a>
						</li>
						<li><span id="kx_verify" style="display: inline-block; position: relative; width: 128px; height: 47px;"><a id="kx_verify_link" href="https://ss.knet.cn/verifyseal.dll?sn=e15020611010557644yqeu000000&a=1&pa=0.6018493148163749" tabindex="-1" target="_blank" kx_type="图标式" rel="nofollow"><img src="img/image005.png" style="border:0; position: absolute; top: 0px; left: 0px;" w="128" h="47" width="128" height="47" oncontextmenu="return false;" alt="可信网站"></a></span></li>
						<li>
							<a id="___szfw_logo___" href="https://credit.szfw.org/CX20160113013262160182.html" target="_blank"><img src="img/image006.png" border="0"></a>
						</li>
					</ul>
					<div class="clear"></div>
					<ul>
						<li>
							<a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备15004030号-1</a>
						</li>
						<li>京公网安备11010502027137</li>
					</ul>
					<p>Copyright © 2014 opcta.com</p>

				</div>
			</div>
			<!--左侧楼梯-->
			<div class="fixed_t">
				<ul id="leftnav">
					<li class="on">
						<a href="javascript:;" data-href="#theme_1">
							热卖
						</a>
					</li>
					<li>
						<a href="javascript:;" data-href="#theme_2">
							出境
						</a>
					</li>
					<li>
						<a href="javascript:;" data-href="#theme_3">
							港澳
						</a>
					</li>
					<li>
						<a href="javascript:;" data-href="#theme_4">
							国内
						</a>
					</li>
					<li>
						<a href="javascript:;" data-href="#theme_5">
							周边
						</a>
					</li>
					<li>
						<a href="javascript:;" data-href="#theme_6">
							商家
						</a>
					</li>
				</ul>
			</div>
			<!--置顶-->
			<div class="zhiding"><img src="img/top_up.jpg" /></div>
		</div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript">
			new Vue({
				el: '#newDay',
				data: {
					wechatPic: false
				},
				methods: {
					weClick() {
						this.wechatPic = !this.wechatPic
					}
				}
			})
			//top QQweatch 切换
			$(".share_content>a").click(function(e) {
				$(this).next(".share_details").fadeToggle().parent(".share_content").siblings().children(".share_details").fadeOut();
				$(document).one("click", function() {
					$(".share_details").fadeOut();
				});

				e.stopPropagation();
			})

			//出发城市切换
			$(".toggle_switch").click(function(e) {
				$(".greion").fadeToggle()
				$(document).one("click", function() {
					$(".greion").fadeOut();
				});
				e.stopPropagation();
			})
			//nav导航添加class
			$(".newDay_nav .all_nav li").click(function() {
				$(this).addClass("active").siblings().removeClass("active")
			})
			//banner 轮播
			$(".slideBox").slide({
				mainCell: ".bd ul",
				autoPlay: true
			});
			//选择搜索条件
			$(".down_mnue p").click(function(e) {
				$(".down_mnue ul").fadeToggle()
				$(document).one("click", function() {
					$(".down_mnue ul").fadeOut();
				});
				e.stopPropagation();
			})
			$(".down_mnue ul li ").click(function() {
				$(".down_mnue p span").html($(this).html());
				$(".down_mnue ul").fadeToggle();
				var textInputText = $(".down_mnue p span").text();
				if(textInputText == "商品"){
					$("input[name='srk']").attr("placeholder","请输入商品名称、商品编号、线路名称")
				}else{
					$("input[name='srk']").attr("placeholder","请输入搜索的供应商名称、品牌名称")
				}
			})
			
			//精选热卖
			$(".selectedss").slide({
				mainCell: ".maincell",
				effect: "leftLoop",
				autoPlay: true,
				vis: 5,
				autoPage: true,
				trigger: "click"
			});
			//出境游
			$(".travelType").slide({
				titCell: ".lineSe ul li",
				mainCell: ".lineCon ul",
				effect: "fold"
			});
			//入住商家
			$(".business").slide({
				titCell: ".titcell li",
				mainCell: ".sjcell",
				effect: "fold",
				autoPlay: true
			});
			//左侧楼梯
			function aScroll() {
				$("#leftnav a").click(function() {
					var hrefTxt = $(this).attr("data-href");
					var hrefDom = $(hrefTxt);
					var hrefTop = hrefDom.offset().top - 15;
					$("html, body").animate({
						scrollTop: hrefTop
					}, 500);
				})
			}
			aScroll();

			function navFixed() {
				var scrollTopHeight = $(window).scrollTop();
				var topHeight = 480;
				var fixedDom = $(".fixed_t");
				var fixedClass = "fixed_tit";
				if(scrollTopHeight > topHeight) {

					fixedDom.addClass("fixedClass");
				} else {

					fixedDom.removeClass("fixedClass");
				};
			}

			function scrollNav() {
				var arr = [];
				var scrollDom = $(".travelType");
				var navDom = $("#leftnav li");
				var newClass = "on";
				scrollDom.each(function() {
					arr.push([$(this).offset().top, $(window).scrollTop() + 67]);
				})
				for(i = arr.length; i >= 1; i--) {
					if(arr[i - 1][0] < arr[i - 1][1]) {
						navDom.eq(i - 1).addClass(newClass).siblings().removeClass(newClass);
						break;
					}
				}
			};

			navFixed();
			scrollNav();

			$(window).scroll(function() {
				navFixed();
				scrollNav();

			});
			//置顶
			$(".zhiding").click(function() {
				$('body,html').animate({
					scrollTop: 0
				}, 1000);
			})
			$(window).scroll(function(e) {
				//若滚动条离顶部大于100元素
				if($(window).scrollTop() > 1000){
					$(".zhiding").fadeIn(1000); 
				}
				else{
					$(".zhiding").fadeOut(1000); 
				}
			});
		</script>
		<!--百度代码-->
		<script>
			window._bd_share_config = {
				"common": {
					"bdSnsKey": {},
					"bdText": "",
					"bdMini": "1",
					"bdMiniList": false,
					"bdPic": "",
					"bdStyle": "0",
					"bdSize": "16"
				},
				"share": {
					"bdSize": 16
				}
			};
			with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
		</script>
	</body>

</html>